* {
  font-family: sans-serif;
}

.canvasjs-chart-credit {
  display: none !important;
}

#slike {
  padding-top: 500px;
  display: none;
}

#slike img:first-child {
  border-top: 5px solid black;
}

#probability {
  padding-top: 540px;
  font-size: 40px;
  text-align: center;
}

#values .value {
  border: 8px solid #80CF0C;
  border-radius: 30px;
  padding: 8px;
  margin-left: 10px;
}
